<div class="row text-center d-flex justify-content-center align-items-center">
    <h1 class="text-info">You've reached the end of the Internet</h1>
    <hr />
    <a class="btn btn-outline-success col-md-1" asp-controller="Movies" asp-action="Index">Home</a>
</div>
